.theme-switcher-btn {
    background-color: var(--color-bg);
    color: var(--color-text);
    border-color: var(--color-border);
    border-radius: 32px;
    font-size: 0.6rem;
    font-weight: bold;
    padding: 2px;
    width: 60px;
    height: 30px;
}


@media (max-width: 600px) {
    .theme-switcher-btn {
        padding: 2px;
        width: 60px;
        height: 30px;
        font-size: 0.5rem;
    }
}